<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <title>tecchaxn's blog</title>
</head>

<body>
  <h2 class="blog-title">
    <a href="/">tecchaxn's blog</a>
  </h2>

  {% include profile.html %}
  {% include latest_posts.html %}
  {% include categories.html %}

  <hr>
  {{ content }}
</body>

</html>